:root {
    --grid-cols: 
}

#container {
    height: 700px;
    width: 100%;
    background-color: rgb(36, 81, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(94, 208, 166);
    border: 3px solid rgb(72, 206, 162);
    border-radius: 5px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.gameBox {
    display: flex;
    align-items: center;
}

.controls {
    height: 300px;
    width: 200px;
    border: 2px solid rgb(72, 206, 162);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(183, 235, 217)
}

.controlHeader {
    height: 20px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(183, 235, 217);
}

.sliderHeader {
    margin: 5px;
}

.slider {
    height: 10px;
}

#grid {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
}

.cell {
    height: 100%;
    background-color: rgb(214, 247, 235);
}

.activeCell {
    background-color: rgb(72, 206, 162);
}

